@model List<Bankaskipan.Models.Account>

@{
    var person = ViewBag.Person as Bankaskipan.Models.Person;
}

<div class="btn-group-vertical">
    @foreach (var account in Model)
    {
        <a href="/Customer/Account/@person.first_name/@account.account_id" class="btn btn-default" role="button">@account.account_id</a>
    }
</div>

<br />
@if (Model.Count > 0)
{
    <div class="actions-container">
        <div class="btn-group-vertical">
            <a href="#" type="button" class="btn btn-default">Deposit</a>
            <a href="#" type="button" class="btn btn-default">Withdraw</a>
            <a href="#" type="button" class="btn btn-default">Transfer</a>
        </div>
    </div>
}