
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <p>Column A</p>
            <div class="row" id="user-list">
                <select name="Persons" id="persons">
                    <option value="jogvan">Jogvan</option>
                    <optgroup label="Spouse">
                        <option value="bartal">Bartal</option>
                    </optgroup>
                    <optgroup label="Children">
                        <option value="brandur">Brandur</option>
                    </optgroup>
                </select>
            </div>
            <div class="row" id="account-list">
                <ul style="list-style-type:none; padding: 0;">
                    <li>
                        <button>Account 1</button>
                    </li>
                    <li>
                        <button>Account 2</button>
                    </li>
                    <li>
                        <button>Account 3</button>
                    </li>
                </ul>
            </div>
            <div class="row" id="method-list"></div>
        </div>
        <div class="col-sm-9">
            <p>Column B</p>
            <div class="row" id="overview"></div>
            <div class="row" id="transactions"></div>
            <div class="row" id="active-methods"></div>
        </div>
    </div>
</div>

